<!DOCTYPE html>
<html lang="en">

<head>
    <title>Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid  col-md-9 mt-4 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="https://i.pinimg.com/originals/22/05/c2/2205c2e9a69de62b9a1a889f916ce7ed.gif"
                    class="img-fluid img-thumbnail" alt="image not loaded" width="500" height="600">
                <br />
                <p >“Music is healing. Music holds things together.”</p>
            </div>
            <div class="col-md-6 text-center bg-info bg-opacity-10 border border-info mb-5 rounded-end">
                <div class="p-3 mb-2 bg-success text-white">
                    <h1>Form submitted successfully!</h1>
                </div>
                <hr class="text-info">
                <p class="fw-medium">Name: <%= formData.fname %> <%= formData.lname %></p>
                <p class="fw-medium">Email: <%= formData.email %></p>
                <p class="fw-medium">Thank you for Subscribing US.</p>
            </div>
        </div>
    </div>
    </div>
</body>

</html>